@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

a{
  font-size: 12px;
}
.footer{
  z-index: 9999;
  background:#5e72e4;
  bottom: 0;
  padding: 0 40px;
  border-radius: 15px 15px 0 0 ;
  width: 100%;
  height: 2rem;
  left: 0;
}

.mobile-nav {
  background: $gray-300;
  position: fixed;
  border-radius: 25rem;
  height: 50px;
  left: 2.5rem;
  bottom: 0.5rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.active-item{
  border-bottom: 2px solid $dark;
  em{
    color: $dark;
    font-weight: bold;
  }
}

.bloc-icon {
  color: $gray-500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-mob{
  z-index: 101;
  background: white;
  bottom: 13px;
  padding: 0 40px;
  border-radius: 15px;
  width: calc(100% - 30px);
  height: 5rem;
  box-shadow: 0 3px 30px #003f8f1c;
  transition: all ease-in-out 200ms;
  &.show{
    opacity: 1;
    transform: translateY(0);
  }
  &.hide{
    transform: translateY(100%);
    opacity: 0;
  }
}

li::marker {
  content: none !important;
  font-size: 1.2em;
}

.badge-footer{
  top: -13px;
  right: -9px;
  border-radius: 50rem;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.menu-bas-footer ul li {
  display: inline-block;
  border-right: 1px solid #b9b9b9;
  line-height: normal;
  padding: 0 10px;
  &:last-child {
    border-right: 0;
  }
  a {
    color: #fff;
    cursor: pointer;
  }
}

